.product-container{
    border: 5px solid purple;
    margin: 5px;
    padding: 5px;
    border-radius: 1px;
    box-shadow: 6px 6px 5px -4px rgba(0,0,0,0.3);
    width: 280px
    
}

.card-content{

}